.wrap {
    display: flex;
    align-items: stretch;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    //padding shrinks to 0 as screen gets smaller
    padding: 0 calc(12vw - 2rem);

    & > nav {
        mask-image: linear-gradient(to right, transparent, black 2em, black 95%, transparent);

        display: flex;
        align-items: stretch;
        padding: 0 calc(5vw - 0.5em);

        flex: 1 1 auto;

        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        & > * {
            flex: 0 0 auto;
        }
    }
}
.ci {
    display: flex;
    align-items: center;
    
    width: fit-content;
    flex: 0 0 auto;
    margin-right: 0.3em;

    color: white;
    font-size: 1.5em;
    font-weight: bold;
    
    &:hover {
        text-decoration: none;
    }
    @media screen and (max-width: 480px) {
        font-size: 1.2rem;
    }
}
.userBtn {
    padding: 0;
    display: flex;

    width: fit-content;
    flex: 0 0 auto;
    margin-left: 0.3em;

    @media screen and (max-width: 480px) {
        width: fit-content;
    }
}
