.dropDown {
    width: 100%;
    padding: 0.5em;
    border: 0.05rem solid rgb(200, 200, 200);
    background-color: transparent;
    
    &:focus {
        outline-color: transparent;
        border-color: black;
    }
    //for iOS Safari
    //1.15em for line-height and 1.1rem for border + padding
    height: calc(1.15em + 1.1rem)
}