.btn {
    min-width: 150px;
    max-width: 250px;
    height: 2em;

    border: none;
    border-radius: 0.3em;

    cursor: pointer;

    color: white;

    background: rgba(0, 172, 238, 0.8);
    transition: background .2s ease-in-out;

    &:hover {
        background: rgba(0, 172, 238, 1);
    }
}
