@import url('https://fonts.googleapis.com/css?family=Space+Mono');


.outer {
    display: flex;

    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 7.5px; 

    width: calc((368px + 2.7em) * 2)
}
.wrap {
    display: grid;

    grid-template-areas: "dmc dmc info info info info info info"
                         "dmc dmc info info info info info info"
                         "infoBottom infoBottom infoBottom infoBottom infoBottom infoBottom rohs rohs";

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 368px;
    height: 138px;
    font-family: 'Space Mono', monospace;

    border: 0.1em solid black;
    margin: 0.25em 0.25em 0.25em 0.25em;
    padding: 1em 1em;

    background: white;
    
    & :last-of-type {
        align-self: flex-start;
    }
}
.wrap * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
}
.dmc {
    grid-area: dmc;
    padding: 1em 1em;
}
.info {
    grid-area: info;
}
.infoBottom {
    grid-area: infoBottom;
    padding-left: 1.5em;
}
.infoBottom > .table {
    justify-content: center;
}
.rohs {
    grid-area: rohs;
    font-size: 4.5em;
}
.table {
    flex-direction: column;
    justify-content: flex-start;
}
.row {
    height: fit-content;
    align-items: flex-start;
}
.cell {
    height: fit-content;
    justify-content: flex-start;
    
    margin: 0.3em 0 0.3em 0;
}
@media (max-width: 480px) {
    .outer {
        width: calc(100vw);
    }
    .wrap {
        width: calc(100vw - 2.7em);
        height: calc((100vw - 2.7em) * 0.375);

        font-size: calc((100vw - 2.7em) / 49);
    }
}

@media print {
    .outer {
        display: block !important;
    }
    .wrap {
        float: left !important;
    }
}
