html {
    height: 100%;
}
body {
    min-height: 100vh;
}
#root {
    display: grid;
    grid-template-areas: "head"
                         "main"
                         "foot";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;

    & > header {
        grid-area: head;
        height: 3em;
        background: black;
        @media screen and (max-width: 480px) {
            font-size: .8rem;
        }
    }

    & > footer {
        grid-area: foot;
        min-height: 70px;
        background: #20232A;
    }
    & > main {
        grid-area: main;
        & > .contents {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            box-sizing: border-box;
            width: 100%;
            height: 100%;
        
            max-width: 1080px;
            margin: 0 auto;
            padding: 3em 0;

            @media screen and (max-width: 480px) {
                padding: 0.5em 0;
            }
        }
    }
}
a {
    text-decoration: none;
    &:visited {
        color: white;
    }
    &:hover {
        text-decoration: underline;
    }
}

@media print {
    #root {
        display: block !important;
    }
    nav, footer, header {
        display: none !important;
        height: 0px !important;
        min-height: unset !important;
    }
    main {
        grid-area: unset !important;
        height: 100% !important;
    }
    .contents {
        padding: 0 !important;
    }
    .pb {
        break-after: always !important;
        page-break-after: always !important;
    }
    input[type="button"] {
        display: none !important;
    }
}
