.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    width: 100%;
    max-width: 650px;
    padding: 1em 1em;

}
.fd {
    width: 100%;
    & + .fd {
        margin-top: 2em;
    }
    &:last-of-type {
        margin-bottom: 2em;
    }
}
.fdName {
    font-weight: bold;
    margin-bottom: 0.3em;

    align-content: left;
}
.fdInput {
    & + .fdInput {
        margin-top: 0.7em;
    }
}
.err {
    color: red;
    font-size: 0.8rem;
}
