.field {
    box-sizing: border-box;

    width: 100%;
    padding: 0.5em;
    border: 0.05rem solid rgb(200, 200, 200);
    
    &:focus {
        border-color: black;
        outline-color: transparent;
    }
    
    // For iOS Safari
    &[type="date"] {
        min-width: 95%;
        //1.15em for line-height and 1.1rem for border + padding
        height: calc(1.15em + 1.1rem)
    }
}
.field.invalid {
    border-color: red;
    
}