.navBtn {
    display: flex;
    align-items: center;
    color: white;
    background: transparent;
    border: none;

    font-size: .85em;

    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}